/* font-family: Rubik, DM Sans */
body{
    background: linear-gradient(90.35deg, rgba(17, 24, 39, 2) 0.36%, #D946EF 201.02%);
   max-width: 1440px;
}

ul, li, a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}

header{
    color: white;
    height: 42px;
    width: auto;
    margin-top: 40px;
}

nav{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content:space-around;
    font-weight: 500;
    margin-left: 50px;
}

.nav_logo{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 96px;
    height: 35px;
}

.nav_menu{
    display: none;
}
.nav_menu_active{
    display: none;
    
}

.nav_ul{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.nav_ul li:last-child a{
    border: 1px solid none;
    padding: 12px 24px;
    background: linear-gradient(90.35deg,   #2563EB 0.36%, #D946EF 201.02%);
    border-radius: 5px;
}

.nav_menu_icon{
    display:none;
}


/* end header  nav */


/* begin main */
#title{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.main_text{}
.main_img{}
.main_img img{
    width: 745px;
    height: 745px;
}